In [1]:
import numpy as np

# Creating an Array

In [3]:
myList = [1, 2, 3, 4, 5]
arr = np.array(myList)
arr

array([1, 2, 3, 4, 5])

In [4]:
type(myList)

list

In [5]:
type(arr)

numpy.ndarray

In [6]:
arr.shape

(5,)

In [8]:
myNestedList = [[1, 2, 3], [4, 5, 6]]
arr2 = np.array(myNestedList)
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
arr2.shape

(2, 3)

In [10]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
np.arange(1, 100)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [12]:
np.arange(1, 10000)

array([   1,    2,    3, ..., 9997, 9998, 9999])

In [13]:
np.arange(1, 100, dtype=float)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51., 52.,
       53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64., 65.,
       66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77., 78.,
       79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90., 91.,
       92., 93., 94., 95., 96., 97., 98., 99.])

In [17]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [18]:
np.ones((4, 5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [19]:
np.zeros(100)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

# Indexing

In [14]:
arr

array([1, 2, 3, 4, 5])

In [15]:
arr[2]

3

In [16]:
arr[2:]

array([3, 4, 5])

# Random Arrays

In [22]:
arr = np.random.randint(1, 100, 10)
arr

array([26,  1, 18, 17, 18, 41,  2,  1, 62, 26])

In [23]:
arr2 = np.random.randint(1, 100, (10, 10))
arr2

array([[21, 99, 67, 83, 56,  9, 55, 36, 75, 53],
       [ 5, 60, 40, 43, 65, 22,  2, 11, 92, 21],
       [41, 36, 45, 69, 97, 41, 38, 49, 80, 17],
       [ 7, 17, 75,  4, 42, 70, 12, 59, 95, 74],
       [26, 56, 68, 79, 33, 64, 44, 83, 24, 75],
       [59, 16, 81,  6, 38, 71, 29, 60, 93, 87],
       [43, 87, 14, 52, 78, 99, 74, 78, 99, 31],
       [67, 48, 73, 13,  6, 20, 88, 92, 71, 70],
       [73, 38, 64, 95, 19, 73, 27, 46, 88, 50],
       [80, 53, 99, 23, 52, 72, 88, 49, 24, 56]])

In [24]:
arr.min()

1

In [25]:
arr2.max()

99

# Reshaping Arrays

In [27]:
myArr = np.arange(25)
myArr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [28]:
myArr.reshape(10, 10)

ValueError: cannot reshape array of size 25 into shape (10,10)

In [29]:
myArr.reshape(5, 5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
myArr.reshape(4, -1)

# Sorting Arrays

In [31]:
arr2.sort()

In [32]:
arr2

array([[ 9, 21, 36, 53, 55, 56, 67, 75, 83, 99],
       [ 2,  5, 11, 21, 22, 40, 43, 60, 65, 92],
       [17, 36, 38, 41, 41, 45, 49, 69, 80, 97],
       [ 4,  7, 12, 17, 42, 59, 70, 74, 75, 95],
       [24, 26, 33, 44, 56, 64, 68, 75, 79, 83],
       [ 6, 16, 29, 38, 59, 60, 71, 81, 87, 93],
       [14, 31, 43, 52, 74, 78, 78, 87, 99, 99],
       [ 6, 13, 20, 48, 67, 70, 71, 73, 88, 92],
       [19, 27, 38, 46, 50, 64, 73, 73, 88, 95],
       [23, 24, 49, 52, 53, 56, 72, 80, 88, 99]])

# Broadcasting

In [33]:
myList = list(range(1, 11))
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
myList[:5] = 100

TypeError: can only assign an iterable

In [35]:
myArr = np.array(myList)
myArr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [36]:
myArr[:5] = 100

In [37]:
myArr

array([100, 100, 100, 100, 100,   6,   7,   8,   9,  10])

# Conditional Selections

In [39]:
myArray = np.arange(10)
myArray

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
myArray > 5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [41]:
myArray[myArray > 5]

array([6, 7, 8, 9])

In [44]:
(myArray > 5) & (myArray%2==0)

array([False, False, False, False, False, False,  True, False,  True,
       False])

In [45]:
myArray[(myArray > 5) & (myArray%2==0)]

array([6, 8])

# Math

In [46]:
myArr = np.array([1, 2, 3])
myArr2 = np.array([10, 20, 30])

In [47]:
myArr + myArr2

array([11, 22, 33])

In [48]:
myArr = np.array([1, 2, 3])
myArr2 = np.array([10])

In [49]:
myArr + myArr2

array([11, 12, 13])

In [50]:
myArr

array([1, 2, 3])

In [51]:
myArr.sum()

6

In [52]:
np.sqrt(myArr)

array([1.        , 1.41421356, 1.73205081])

In [ ]:
#Matrix Multiplication